apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: cicd
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      nodeSelector:
        argocd-node: "true"
      tolerations:
        - key: "dedicated"
          operator: "Equal"
          value: "cicd"
          effect: "NoSchedule"

      containers:
        - name: myapp
          image: docker.io/dockdock150/backend:latest
          ports:
            - containerPort: 8080

          envFrom:
            - configMapRef:
                name: myapp-config
            - secretRef:
                name: myapp-secret
          
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 25
            periodSeconds: 10
            failureThreshold: 6

          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 35
            periodSeconds: 15
            failureThreshold: 5
