apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: cicd
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: docker.io/<YOUR_DOCKERHUB_USERNAME>/<YOUR_IMAGE_NAME>:latest
        ports:
        - containerPort: 8080
